pkgbase = ignition-fuel_tools
	pkgdesc = A client library and command line tools for interacting with Gazebo Fuel servers.
	pkgver = 8.0.2
	pkgrel = 1
	url = https://gazebosim.org/libs/fuel_tools
	arch = i686
	arch = x86_64
	groups = development
	license = Apache
	makedepends = ignition-cmake
	depends = curl
	depends = jsoncpp
	depends = libyaml
	depends = libzip
	depends = ignition-common
	depends = ignition-msgs
	depends = ignition-tools
	optdepends = ruby
	source = ignition-fuel_tools-8.0.2.tar.gz::https://github.com/gazebosim/gz-fuel-tools/archive/gz-fuel-tools8_8.0.2.tar.gz
	sha256sums = 8e49baa0257717fd661377cf490cb84ccea7d528dfe327f62459500661185fe1

pkgname = ignition-fuel_tools
